---
layout: default
---
<div>
  <main class="mw7">
    <div class="intro pvx phm paxl-m paxl-l">
      <h1 class="lh mts h1 h1-m h1-l h1-xl">Collectively Made</h1>
      <p class="f4 f3-s f3-m f3-l f3-xl measure lh-copy mtm b">
      Research, experiments &amp; design.
      </p>
      <p class="f5 f5-ns measure lh-copy">
        Collectively Made is a creative collective and design studio that is dedicated to the craft of interface &amp; function. The collective structure allows us to curate the best talents and collaborate as an agile unit that can work on diverse and experimenting projects.
        <br>
        <br>
        There is no staff, no overhead, no brick &amp; mortar. Instead, we are a tight-knit collection of domain experts &amp; problem solvers that come together to help bring ideas into existence. 
      </p>
      <!-- <a href="/purpose/" class="f5 f5-ns measure">/purpose</a> -->
      <br>
    </div>
  </main>
  <!-- <aside>
    <div class="work phm phxl-m phxl-l">
      <p class="f4 f3-m f3-l f3-xl measure lh-copy b">
      Projects:
      </p>
      <ul class="list pln">
        {% for post in site.posts  %}
        <li class="pln">
          <p class="f5 f5-ns"><a href="#" class="black" title="{{post.title}}">
            {{ post.title }} ›</a><span class="gray plxs i">{{ post.subtitle }}</span></p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </aside> -->

  {% include _footer.html %}

</div>

