---
title: Projects We've Done
layout: page
permalink: /work/
---

{% capture categories %}
  {% for cat in site.categories %}
    {{ cat[0] }}
  {% endfor %}
{% endcapture %}
{% assign sortedcats = categories | split:' ' | sort %}

{% for cat in sortedcats %}
  <div class="horizontal-divider">
    <div class="projects-label">{{ cat }}</div>
  </div>

  {% for post in site.categories[cat] %}

    <div class="post">
      <a class="post-title" href="{{ post.url | prepend: site.baseurl }}">
      {% if post.cover-image %}
        <div class="post-img" style="border:1px solid #eee;">
          <img src="{{ site.baseurl }}/img/covers/{{ post.cover-image }}">
        </div>
      {% endif %}
      <div class="post-text">
      <h1>{{ post.title }}</h1>
      </a>
      <p>
      {% if post.summary %}
        {{ post.summary }}&nbsp;</a>
      {% else %}
        {{ post.excerpt | remove: '<p>' | remove: '</p>' }}</a>
      {% endif %}
      </p>
      </div>
      <a href="{{ post.url | prepend: site.baseurl }}" class="button"> View Project </a>
    </div>

  {% endfor %}
{% endfor %}
<br>
