<header>
  <div class="pvl phm phxl-m phxxl-l v-bottom mtx dib">

    <p class="dib">
      <a class="none dib scale" href="/">
        <h1 class="fw6 ttu f5 f3-ns prm-ns mbn dib">Logo</h1>
      </a>
      {% if page.path contains 'work' %}
      / 
      <a class="none black" href="/work"><h4 class="scale-sm pam ttu fw4 dib">Professional Work</h4></a>
      {% endif %}
      {% if page.path contains 'projects' %}
      / 
      <a class="none black" href="/projects"><h4 class="scale-sm pam ttu fw4 dib">Personal Projects</h4></a>
      {% endif %}
      {% if page.path contains 'writing' %}
      / 
      <a class="none black" href="/writing"><h4 class="scale-sm pam ttu fw4 dib">Writing</h4></a>
      {% endif %}
      {% if page.path contains 'library' %}
      / 
      <a class="none black" href="/library"><h4 class="scale-sm pam ttu fw4 dib">Library</h4></a>
      {% endif %}
    </p>
  </div>
</header>