<header class="header">
    <nav class="nav container-wide">
        <a class="logo" href="/">
            <span class="logo-text">Collectively Made</span>
        </a>
        <div class="nav-links">
            <a href="#work" class="nav-link">Work</a>
            <a href="#services" class="nav-link">Services</a>
            <a href="#about" class="nav-link">About</a>
            <a href="mailto:alex@collectivelymade.com?subject=Let's Chat!&body=Hey there!%0D%0AWe're interested in working with Collectively Made. Here's some quick details about us.%0D%0A%0D%0AName:%0D%0ACompany:%0D%0ANo. of employees:%0D%0AAnd here's some more details about our project..." class="btn btn-primary">Get In Touch</a>
        </div>
    </nav>
</header>