---
layout: default
---
  <div class="mw8">
    <main class="pvx phm paxl-m paxl-l">
      <div class="intro pbxl">
        <h1 class="lh mts h2 h1-m h1-l h1-xl">{{ page.title }}</h1>
        <p class="f4 f3-s f3-m f3-l f3-xl measure lh-copy mtm b">{{page.subtitle}}</p>
        <div class="bb b--near-white"></div>
        <article class="f5 f5-ns measure lh-copy">
          {{ content }}
        </article>
      </div>
      <a href="/" class="f5 f5-ns measure dk-gray">Back to home</a>
    </main>
  </div>
