<!DOCTYPE html> 
<html lang="en"> 
  {% include _head.html %}
  <body>
    <a href="http://bit.ly/1SCfGCu" class="contact none">Contact</a>
    <div class="mw8">
      <main class="pvx phm paxl-m paxl-l">
        <div class="intro">
          <h1 class="lh mts h2 h1-m h1-l h1-xl">{{ page.title }}</h1>
          <p class="f4 f3-s f3-m f3-l f3-xl measure lh-copy mtm b">{{page.subtitle}}</p>
          <div class="bb b--near-white"></div>
          <article class="f5 f5-ns measure lh-copy">
            {{ content }}
          </article>
        </div>
      </main>
      {% include _related.html %}
      <div class="phxl pvl">
        <a href="/" class="f5 f5-ns measure dk-gray">Back to home</a>
      </div>
    </div>
  </body>
  <script>
      $("article").fitVids();
      $('article p').each(function(i){
        if (($(this).find('img').length) && (!$.trim($(this).text()).length))  {
          $(this).addClass('img-only');
        }
        if ($.trim($(this).text()).length - $.trim($(this).find('small').text()).length == 0 && ($(this).find('img').length)){
          $(this).addClass('img-only-source');
        }
      });
    </script>
  {% include _footer.html %}
</html>
